$base-color: #03071e;
$base-color2: #011627;
$secondarycolor: #f0f3bd;
$text-color: #fff1e6;
$cap-color: #9b9dad;
$logofont: "Anton", sans-serif;
$logofont2: "Montserrat Subrayada", sans-serif;
$headingtext: "Montserrat", sans-serif;
$paragraphtext: "Poppins", sans-serif;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $text-color;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: $base-color;

  .backtohome {
    position: absolute;
    top: 15px;
    right: 20px;
    a {
      font-size: 16px;
      text-decoration: underline;
      height: auto;
      font-family: $paragraphtext;
      color: $text-color;
      cursor: pointer;
      width: 30px;
      height: 30px;
      display: block;
      img {
        width: 100%;
      }
    }
  }

  .main-wrap {
    width: 70vw;
    margin: 50px auto 0 auto;
    header {
      padding: 20px 10px;
      margin-bottom: 0px;

      h1 {
        height: auto;
        font-family: $headingtext;
        color: $text-color;
        font-size: 40px;
        display: inline-block;
        position: relative;
        font-weight: 600;
        &::after {
          content: "";
          background-color: $cap-color;
          width: 20%;
          height: 2px;
          position: absolute;
          top: 0%;
          right: -10%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .project-container {
      #snips {
        margin-top: 20px !important;
      }
      #snips .img-container {
        background-image: url("../images/code.jpg");
        
      }
      #recipe .img-container {
        background-image: url("../images/recipe-img.avif");
      }
      #coxy .img-container {
        background-image: url("../images/marketing-img.jpg");
      }
      .project {
        box-shadow: rgba(0, 0, 0, 0.362) 0px 3px 12px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 300px;
        // border: 1px solid $secondarycolor;
        margin: 50px 10px;
        border-radius: 5px;
        padding: 10px 15px;
        list-style-type: none;
        .img-container {
          width: 50%;
          height: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
         
          //   background-image:url("https://source.unsplash.com/random/?code") ;

          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 5px;
        }
        .description-container {
          width: 50%;
          height: 100%;
          position: relative;
          padding: 5px 15px;
          .project-title {
            font-family: $headingtext;
            font-size: 28px;
            margin-bottom: 10px;
            letter-spacing: 0.8px;
            color: $text-color;
          }
          .project-description {
            font-size: 18px;
            font-family: $paragraphtext;
            margin-bottom: 10px;
            letter-spacing: 0.6px;
          }
          .technologies-used-container {
            list-style-type: none;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .technology p {
              color: $cap-color;
              font-size: 14px;
              font-family: $paragraphtext;
            }
          }
          .check-out {
            position: absolute;
            bottom: 0px;
            right: 0px;
            a {
              display: block;
              img {
                width: 25px;
                height: 25px;
              }
            }
          }
        }
      }
    }
  }
  .totop {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 20px;
    background-color: rgba(53, 52, 52, 0.285);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    width: 50px;
    height: 50px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.244);
    }
  }
}

footer {
  // position: absolute;
  // bottom: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .copyright {
    // position: absolute;
    // bottom: 20px;
    // right: 20px;
    font-size: 0.8em;
    color: $cap-color;
    font-family: $paragraphtext;
    line-height: 1;
    letter-spacing: 1.2;
  }
}

// ******************************* queries *********************************************

@media only screen and (max-width: 768px) {
  body {
    .main-wrap {
      width: 90vw;
      margin: 30px auto 0 auto;

      .project-container {
        .project {
          height: 280px;
          margin: 30px 0px;
          .description-container {
            .project-title {
              font-size: 26px;
              margin-bottom: 15px;
            }
            .project-description {
              margin-bottom: 15px;
            }
            .technologies-used-container {
              // width: 100%;
              .technology {
                font-size: 14px;
              }
            }
            .check-out {
              bottom: 5px;
              right: 5px;
              a img {
                width: 22px;
                height: 22px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  body {
    .main-wrap {
      width: 100vw;
      .project-container {
        .project {
          flex-direction: column;
          height: 450px;
          margin: 50px 0;
          .img-container,
          .description-container {
            width: 100%;
          }
          .img-container {
            border-radius: 5px 5px 0 0;
          }
          .description-container {
            padding: 20px 5px;
            .technologies-used-container {
              width: 90%;
              .technology p {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    
  }
}
