*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff1e6;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #03071e;
}
body .backtohome {
  position: absolute;
  top: 15px;
  right: 20px;
}
body .backtohome a {
  font-size: 16px;
  text-decoration: underline;
  height: auto;
  font-family: "Poppins", sans-serif;
  color: #fff1e6;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: block;
}
body .backtohome a img {
  width: 100%;
}
body .main-wrap {
  width: 70vw;
  margin: 50px auto 0 auto;
}
body .main-wrap header {
  padding: 20px 10px;
  margin-bottom: 0px;
}
body .main-wrap header h1 {
  height: auto;
  font-family: "Montserrat", sans-serif;
  color: #fff1e6;
  font-size: 40px;
  display: inline-block;
  position: relative;
  font-weight: 600;
}
body .main-wrap header h1::after {
  content: "";
  background-color: #9b9dad;
  width: 20%;
  height: 2px;
  position: absolute;
  top: 0%;
  right: -10%;
  transform: translate(-50%, -50%);
}
body .main-wrap .project-container #snips {
  margin-top: 20px !important;
}
body .main-wrap .project-container #snips .img-container {
  background-image: url("../images/code.jpg");
}
body .main-wrap .project-container #recipe .img-container {
  background-image: url("../images/recipe-img.avif");
}
body .main-wrap .project-container #coxy .img-container {
  background-image: url("../images/marketing-img.jpg");
}
body .main-wrap .project-container .project {
  box-shadow: rgba(0, 0, 0, 0.362) 0px 3px 12px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 300px;
  margin: 50px 10px;
  border-radius: 5px;
  padding: 10px 15px;
  list-style-type: none;
}
body .main-wrap .project-container .project .img-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
body .main-wrap .project-container .project .description-container {
  width: 50%;
  height: 100%;
  position: relative;
  padding: 5px 15px;
}
body .main-wrap .project-container .project .description-container .project-title {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  margin-bottom: 10px;
  letter-spacing: 0.8px;
  color: #fff1e6;
}
body .main-wrap .project-container .project .description-container .project-description {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  letter-spacing: 0.6px;
}
body .main-wrap .project-container .project .description-container .technologies-used-container {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
body .main-wrap .project-container .project .description-container .technologies-used-container .technology p {
  color: #9b9dad;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
body .main-wrap .project-container .project .description-container .check-out {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
body .main-wrap .project-container .project .description-container .check-out a {
  display: block;
}
body .main-wrap .project-container .project .description-container .check-out a img {
  width: 25px;
  height: 25px;
}
body .totop {
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 20px;
  background-color: rgba(53, 52, 52, 0.285);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  width: 50px;
  height: 50px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
body .totop:hover {
  background-color: rgba(0, 0, 0, 0.244);
}

footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
footer .copyright {
  font-size: 0.8em;
  color: #9b9dad;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  letter-spacing: 1.2;
}

@media only screen and (max-width: 768px) {
  body .main-wrap {
    width: 90vw;
    margin: 30px auto 0 auto;
  }
  body .main-wrap .project-container .project {
    height: 280px;
    margin: 30px 0px;
  }
  body .main-wrap .project-container .project .description-container .project-title {
    font-size: 26px;
    margin-bottom: 15px;
  }
  body .main-wrap .project-container .project .description-container .project-description {
    margin-bottom: 15px;
  }
  body .main-wrap .project-container .project .description-container .technologies-used-container .technology {
    font-size: 14px;
  }
  body .main-wrap .project-container .project .description-container .check-out {
    bottom: 5px;
    right: 5px;
  }
  body .main-wrap .project-container .project .description-container .check-out a img {
    width: 22px;
    height: 22px;
  }
}
@media only screen and (max-width: 426px) {
  body .main-wrap {
    width: 100vw;
  }
  body .main-wrap .project-container .project {
    flex-direction: column;
    height: 450px;
    margin: 50px 0;
  }
  body .main-wrap .project-container .project .img-container,
body .main-wrap .project-container .project .description-container {
    width: 100%;
  }
  body .main-wrap .project-container .project .img-container {
    border-radius: 5px 5px 0 0;
  }
  body .main-wrap .project-container .project .description-container {
    padding: 20px 5px;
  }
  body .main-wrap .project-container .project .description-container .technologies-used-container {
    width: 90%;
  }
  body .main-wrap .project-container .project .description-container .technologies-used-container .technology p {
    font-size: 10px;
  }
}/*# sourceMappingURL=style3.css.map */