*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff1e6;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #03071e;
}

.about {
  width: 60vw;
  background-color: #03071e;
  margin: 50px auto 0px auto;
  padding: 60px 10px 0px 10px;
}
.about .backtohome {
  position: absolute;
  top: 15px;
  right: 20px;
}
.about .backtohome a {
  font-size: 16px;
  text-decoration: underline;
  height: auto;
  font-family: "Poppins", sans-serif;
  color: #fff1e6;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: block;
}
.about .backtohome a img {
  width: 100%;
}
.about .aboutcontent {
  padding: 20px 50px;
  margin-bottom: 50px;
}
.about .aboutcontent .heading {
  height: auto;
  font-family: "Montserrat", sans-serif;
  color: #fff1e6;
  font-size: 40px;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  font-weight: 600;
}
.about .aboutcontent .heading::after {
  content: "";
  background-color: #9b9dad;
  width: 20%;
  height: 2px;
  position: absolute;
  top: 0%;
  right: -10%;
  transform: translate(-50%, -50%);
}
.about .aboutcontent p {
  font-size: 20px;
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  line-height: 160%;
}
.about .aboutcontent p strong {
  color: #f0f3bd;
  word-spacing: 3px;
  letter-spacing: 2px;
}
.about footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.about footer .copyright {
  font-size: 0.8em;
  color: #9b9dad;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  letter-spacing: 1.2;
}

.anim {
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100vw;
  height: 400px;
  transform: rotate(180deg);
}
.anim svg {
  position: absolute;
  top: 40%;
  right: 0%;
  width: 100%;
  height: 100%;
}
.anim svg .animtext {
  fill: #9b9dad;
  opacity: 0;
  font-size: 120px;
  font-family: "Montserrat", sans-serif;
}

.totop {
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: rgba(105, 99, 99, 0.285);
  width: 50px;
  height: 50px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.totop:hover {
  background-color: rgba(0, 0, 0, 0.244);
}

@media only screen and (max-width: 768px) {
  .about {
    width: 80vw;
  }
  .about .aboutme {
    justify-content: start;
    font-size: 30px;
    position: relative;
  }
  .about .aboutme .backtohome a {
    font-size: 12px;
  }
  .about .aboutcontent {
    padding: 20px 25px;
  }
  .anim svg text .animtext {
    font-size: 90px;
    opacity: 0.1;
  }
}
@media only screen and (max-width: 426px) {
  .about {
    margin: 0px auto;
    width: 98vw;
  }
  .about .aboutcontent {
    padding: 15px;
    margin-bottom: 20px;
  }
  .about .aboutcontent .heading {
    font-size: 30px;
  }
  .about .aboutcontent p {
    font-size: 18px;
  }
}/*# sourceMappingURL=style2.css.map */